<html>

  <body
    style='background-color: #222533; padding: 20px; font-family: font-size: 14px; line-height: 1.43; font-family: &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif;'
  >
    <div
      style='max-width: 600px; margin: 10px auto 20px; font-size: 12px; color: #A5A5A5; text-align: center;'
    >If you are unable to see this message,

      {{token}}
    </div>

  </body>

</html>